.container {
  display: flex;
}

.imgThumb {
  width: 300px;
  margin-right: 40px;
}

.title,
.score {
  margin-bottom: 20px;
}

.overviewTitle,
.genresTitle {
  margin-bottom: 10px;
}

.overviewDescr {
  margin-bottom: 40px;
}

.genresList {
  display: flex;
}

.genresList li:not(:last-child) {
  margin-right: 10px;
}
